@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Whisper&display=swap');

:root{ /*Variables*/
    --blanco: white;
    --negro: black;
    --gris: gray;
    --colorPrincipal:  #0739a1;
    --colorFondo:rgba(145, 56, 114, 0.922);
    --colorFondo2: #ce74aeeb;
 
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("./assets/Fondo2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* significa fondo fijo */
}
.contenedor{ /*Es para mantener los elementos unidos*/
    width: min(90%,120rem); /*Especifica el area del contenido del alto y ancho*/
    margin: 0 auto; /*Es para separar los elementos*/
}
a{
    text-decoration: none;
}
/*Utilidades: son clases que dan algun estilo para utilizarlo en contenedores/elementos*/

.no-margin{
/*quitan margen entre los elementos*/
margin: 0;
}

.no-padding{ /*Para que no haya separacion*/
padding: 0;
}

.centrar-texto{
text-align: center;
}
/*HEADER*/
header p{
    font-size: medium;
}
header{
    background-color: var(--negro);
    color: #fff;
    padding: 1px;
    text-align: center;
    position:fixed;
    top:0;
    width:100%;
}

.logo .barra img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
}
.navegador{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.enlaces{
    padding: 8px 20px;
	text-decoration: none;
	background: var(--colorFondo2);
	float: center;
	border-radius: 6px;
	border: 0;
    color: rgb(159 202 187)
}

.enlaces:hover{
    transition: background 2s, color 2s;
    color: var(--blanco);
}

#inicio h1{
    text-align: center;
    color: var(--colorFondo);
    font-size: xxx-large;
    font-weight: bolder;
    padding-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nosotros h1,
main .servicios h1,
main #productos h1,
main .ofertas h1{
    text-align: center;
    color: var(--colorFondo);
    font-size: xxx-large;
    font-weight: bolder;
    padding-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main #inicio{
    background-image: url("./assets/estética.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 9% 0% 0% 0%;
    min-height: 100%;
    width: auto;
}
main #inicio img{
    width: 100%;
    height: 100%;
}
#inicio .botonesContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    flex-direction: column;
    margin-left: 50%;
}
main #inicio .botonOfertas{
    background-color: #5b2f96;
    font-weight: bold;
    font-size: x-large;
    margin-top: 2%;
}
main #inicio .botonform{
    font-weight: bold;
    font-size: x-large;
    margin: 10px 0;
    color: #260b48;
    border: solid 4px #220c3e;
}

main #nosotros{
    text-align: center;
    background-color: #b3b3b35e;
    padding: 10px;
}
main #nosotros .nosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main #nosotros .nosotros div{
    margin: 0 20px;
}
main #nosotros .colorCard{
    background-color: #c19fde;
}
main #nosotros .nosotros div.card.text-bg-danger.mb-3{
    margin: 20px;
}
r mb-3

main #nosotros article{
    display: flex;
}


main #productos {
    text-align: center;
 }

 main #productos h3 {
    color: var(--colorFondo);
}

main #productos .productosContainer{
    display: flex;
    flex-direction: column;
}

main #productos article{
    display: flex;
    padding: 1% 1%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
main #productos article p{
    margin: 0%;
    padding: 0%;
}
main #productos h2{
    background: var(--colorFondo2);
    width: 100%;
}
main #productos a{
    font-size: large;
}
main #productos article .articleContainer{
    display: flex;
    padding: 2%;
 }
 main #productos article .articleContainer .tips{
    border: 1px solid  var(--colorFondo);
    margin: 0 1%;
    padding: 0 1%;
 }
 
main #productos img{
    width: 15em;
    height: 15em;
}
main #servicios .servicios {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

main #servicios .servicios article {
    background-color: transparent;
    margin: 10px;
    margin-left: 30px;
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 5px solid #333;

}
#servicios .servicios article div img {
    width: 200px;
    height: 200px;

}
.info-servicios button {
    background-color: var(--colorFondo2);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: poiner;
}
#ofertasDeServicios .ofertasDeServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#ofertasDeServicios .ofertasDeServicios article {
    background-color: transparent;
    margin: 10px;
    margin-left: 30px;
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 3px solid #333;

}

.info-ofertas button {
    background-color: var(--colorFondo2);
    margin: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: poiner;
}
/*----------------------Sobre Curso-------------------*/

.cursos{
    list-style: none;
}

.elemento-curso{
    border-bottom: 1px solid var(--gris);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.elemento-curso:last-of-type{
    border-bottom: none;
}

.texto-bold{
    font-weight: 900;
    font-size: 2rem;
}

.texto-normal{
    font-weight:200;
}

.contenido-main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}
.curso-imagen{
    max-width: 40rem;
}

.curso{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

.curso:last-of-type{
    border: none;
}

.contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}



.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 3rem;
    border: 1px solid var(--negro);
}

main #contacto h1 {
    text-align: center;
    color: var(--colorFondo);
    font-size: xxx-large;
    font-weight: bolder;
    padding-top: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main #contacto .titleContacto{
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
}
main #contacto .titleContacto button{
        display: block;
        margin: 0px 41%;
        align-items: center;
        text-align: center;
        font-weight: bold;
        border: 4px solid #9f7cc2de;
        color: #582785;
}
main #contacto .sidebar h1 {
    padding: -1%;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
    
}

.campo_label{
    flex: 0 0 12rem; /*Espacio que ocupa hasta que encuentre otro elemento y lo complete y indica el creciemietno y descrecimiento*/
    padding-right: 2rem;
    
}

.campo_input{
    flex: 1;
    border: 1px solid var(--negro);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.campo_textarea{
    height: 20rem;
    
}
#contacto .boton-primario{
    background-color: var(--negro);
}

#contacto .boton-secundario{
    background-color: var(--colorFondo);
    
}
#contacto .boton {
    text-decoration: none;
    border-radius: 18px;
    display: inline-block;
    color: var(--blanco);
    font-size: 2.2rem;
    padding: 1rem 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/*-----------------------FOOTER------------------------*/
footer{
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}
footer h1{
    color:white
}
footer nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(196, 134, 134);
    color: white;
    padding: 10px 0 10px 0;    
}
footer nav ul li{
    padding: 0 5px 0 5px;    
    font-size: larger;
}
footer nav ul li:hover{
    color: aqua;    
}

.footer{
    background-color: var(--negro);
 }
 
 .botones{
     min-width: 45rem;
     display: flex;
     justify-content: end;
 }
 
 .botones a {
     text-decoration: none;
     font-size: 28px;
     width: 60px;
     height: 60px;
     line-height: 60px;
     margin: 20px;
     text-align: center;
     background: var(--gris);
     color: var(--blanco);
     border-radius: 50%;
     box-shadow: 2px 2px 5px var(--blanco);
     transition: all .4s ease-in-out;
 }
   
 .botones a:hover {
     transform: scale(1.2);
 }
 
 .barra{
         display: flex;
         justify-content: space-around;
         align-items: center;
 }
 /*-----------------------@MEDIA Responsive------------------------*/
 @media (max-width: 750px) {
    main .servicios h1,
    main #productos h1,
    main .ofertas h1 {
        font-size: xx-large;
        padding-top: 2%;
    }
    main #servicios > article {
        margin-left: 0px;      
    }
    #ofertasDeServicios > article {
        margin-left: 0px;
    }
  }
  @media (max-width: 380px) {
    main #productos article .articleContainer{
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
  }
 }