@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Whisper&display=swap');

:root{ /*Variables*/
    --blanco: white;
    --negro: black;
    --gris: gray;
    --colorPrincipal:  #0739a1;
    --colorFondo: #ce5d5d;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("./assets/Fondo2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    #imageContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* significa fondo fijo */
}
/*HEADER*/
header p{
    font-size: medium;
}
header{
    background-color: var(--negro);
    color: #fff;
    padding: 15px;
    text-align: center;
}
.navegador{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.enlaces{
    padding: 8px 20px;
	text-decoration: none;
	background: var(--colorFondo);
	float: center;
	border-radius: 6px;
	border: 0;
}

.enlaces:hover{
    transition: background 2s, color 2s;
    color: var(--blanco);
}

main #inicio{
    background-image: url("./assets/estética.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 8% 50% 30% 0;
    min-height: 100%;
    width: auto;
}
main #inicio img{
    width: 100%;
    height: 100%;
}
main #inicio h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(159, 28, 159);
    font-size: xx-large;
}
main #nosotros{
    text-align: center;
    background-color: #b3b3b35e;
    padding: 10px;
}
main #nosotros h2,
main #nosotros h3{
    padding: 10px;
}

main #nosotros article{
    display: flex;
}

main #productos {
    text-align: center;
 }
 main #productos h1 {
    color:  var(--colorFondo);
    font-size: xxx-large;
    font-weight: bolder;
    padding-top: 2%;
 }
 main #productos h3 {
    color:  var(--colorFondo);
 }

main #productos .productosContainer{
    display: flex;
    flex-direction: column;
}
main #productos article{
    display: flex;
    padding: 1% 1%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
main #productos h2{
    background: var(--colorFondo);
    width: 100%;
}
main #productos a{
    font-size: large;
}
main #productos article .articleContainer{
    display: flex;
    padding: 2%;
 }
 main #productos article .articleContainer .tips{
    border: 1px solid  var(--colorFondo);
    margin: 0 1%;
    padding: 0 1%;
 }
 
main #productos img{
    width: 15em;
    height: 15em;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}
footer h1{
    color:white
}
footer nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(196, 134, 134);
    color: white;
    padding: 10px 0 10px 0;    
}
footer nav ul li{
    padding: 0 5px 0 5px;    
    font-size: larger;
}
footer nav ul li:hover{
    color: aqua;    
}


/*FOOTER*/

.footer{
    background-color: var(--negro);
 }
 
 .botones{
     min-width: 45rem;
     display: flex;
     justify-content: end;
 }
 
 .botones a {
     text-decoration: none;
     font-size: 28px;
     width: 60px;
     height: 60px;
     line-height: 60px;
     margin: 20px;
     text-align: center;
     background: var(--gris);
     color: var(--blanco);
     border-radius: 50%;
     box-shadow: 2px 2px 5px var(--blanco);
     transition: all .4s ease-in-out;
 }
   
 .botones a:hover {
     transform: scale(1.2);
 }
 
 .barra{
         display: flex;
         justify-content: space-around;
         align-items: center;
 }
 