@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Whisper&display=swap');

:root{ /*Variables*/
    --blanco: white;
    --negro: black;
    --gris: gray;
    --colorPrincipal:  #0739a1;
    --colorFondo:rgba(145, 56, 114, 0.922);
    --colorFondo2: #ce74aeeb;
 
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("./assets/Fondo2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* significa fondo fijo */
}
/*HEADER*/
header p{
    font-size: medium;
}
header{
    background-color: var(--negro);
    color: #fff;
    padding: 1px;
    text-align: center;
    position:fixed;
    top:0;
    width:100%;
}

.logo .barra img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
}
.navegador{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.enlaces{
    padding: 8px 20px;
	text-decoration: none;
	background: var(--colorFondo2);
	float: center;
	border-radius: 6px;
	border: 0;
    color: rgb(159 202 187)
}

.enlaces:hover{
    transition: background 2s, color 2s;
    color: var(--blanco);
}
#inicio h1{
    text-align: center;
    color: var(--colorFondo);
    font-size: xxx-large;
    font-weight: bolder;
    padding-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#nosotros h1,
main .servicios h1,
main #productos h1,
main .ofertas h1 {
    text-align: center;
    color: var(--colorFondo);
    font-size: xxx-large;
    font-weight: bolder;
    padding-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main #inicio{
    background-image: url("./assets/estética.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 8% 50% 30% 0;
    min-height: 100%;
    width: auto;
}
main #inicio img{
    width: 100%;
    height: 100%;
}

main #nosotros{
    text-align: center;
    background-color: #b3b3b35e;
    padding: 10px;
}
main #nosotros .nosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main #nosotros .nosotros div{
    margin: 0 10px;
}
main #nosotros .colorCard{
    background-color: #c19fde;
}
main #nosotros .nosotros div.card.text-bg-danger.mb-3{
    margin: 20px;
}
r mb-3

main #nosotros article{
    display: flex;
}


main #productos {
    text-align: center;
 }

 main #productos h3 {
    color: var(--colorFondo);
}

main #productos .productosContainer{
    display: flex;
    flex-direction: column;
}

main #productos article{
    display: flex;
    padding: 1% 1%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
main #productos article p{
    margin: 0%;
    padding: 0%;
}
main #productos h2{
    background: var(--colorFondo2);
    width: 100%;
}
main #productos a{
    font-size: large;
}
main #productos article .articleContainer{
    display: flex;
    padding: 2%;
 }
 main #productos article .articleContainer .tips{
    border: 1px solid  var(--colorFondo);
    margin: 0 1%;
    padding: 0 1%;
 }
 
main #productos img{
    width: 15em;
    height: 15em;
}
main #servicios .servicios {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

main #servicios .servicios article {
    background-color: transparent;
    margin: 10px;
    margin-left: 30px;
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 5px solid #333;

}
#servicios .servicios article div img {
    width: 200px;
    height: 200px;

}
.info-servicios button {
    background-color: var(--colorFondo2);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: poiner;
}
#ofertasDeServicios .ofertasDeServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#ofertasDeServicios .ofertasDeServicios article {
    background-color: transparent;
    margin: 10px;
    margin-left: 30px;
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 3px solid #333;

}

.info-ofertas button {
    background-color: var(--colorFondo2);
    margin: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: poiner;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}
footer h1{
    color:white
}
footer nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(196, 134, 134);
    color: white;
    padding: 10px 0 10px 0;    
}
footer nav ul li{
    padding: 0 5px 0 5px;    
    font-size: larger;
}
footer nav ul li:hover{
    color: aqua;    
}


/*FOOTER*/

.footer{
    background-color: var(--negro);
 }
 
 .botones{
     min-width: 45rem;
     display: flex;
     justify-content: end;
 }
 
 .botones a {
     text-decoration: none;
     font-size: 28px;
     width: 60px;
     height: 60px;
     line-height: 60px;
     margin: 20px;
     text-align: center;
     background: var(--gris);
     color: var(--blanco);
     border-radius: 50%;
     box-shadow: 2px 2px 5px var(--blanco);
     transition: all .4s ease-in-out;
 }
   
 .botones a:hover {
     transform: scale(1.2);
 }
 
 .barra{
         display: flex;
         justify-content: space-around;
         align-items: center;
 }
 @media (max-width: 750px) {
    main .servicios h1,
    main #productos h1,
    main .ofertas h1 {
        font-size: xx-large;
        padding-top: 2%;
    }
    main #servicios > article {
        margin-left: 0px;      
    }
    #ofertasDeServicios > article {
        margin-left: 0px;
    }
  }
  @media (max-width: 380px) {
    main #productos article .articleContainer{
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
  }
 }